<header class="header">
  <div class="header-container">
    <h1><a href="/" class="site-title">{{ site.title }}</a></h1>
    <nav class="nav-menu">
      <div class="nav-buttons">
        {% assign cats = site.posts | map: "categories" | join: "," | split: "," | uniq | sort %}
        {% for cat in cats %}
          <a class="nav-button" href="/categories/{{ cat | slugify }}/">{{ cat }}</a>
        {% endfor %}
      </div>
    </nav>
  </div>
  <div class="header-search">
  <form id="site-search-form">
    <input type="text" id="header-search-input" placeholder="Search..." />
    <button type="submit" class="search-button">🔍</button>
  </form>
</div>

<!-- 中央結果區塊 -->
<div id="main-search-results" style="display:none; padding: 30px 20px;">
  <h2 id="main-search-title" style="margin-bottom: 20px;"></h2>
  <div id="main-search-box">
    <input type="text" id="main-search-input" class="search-input" />
  </div>
  <div id="search-results" style="margin-top: 30px;"></div>
</div>

</header>
