---
layout: default
---

<h1>Posts in Category: {{ page.category }}</h1>
<ul class="post-list">
  {% for post in site.posts %}
    {% if post.categories contains page.category %}
      <li class="post-item">
        {% if post.image %}
          <img src="{{ post.image }}" alt="Post image" class="post-image" />
        {% endif %}
        <div class="post-date">{{ post.date | date: "%B %d, %Y" }}</div>
        <h2 class="post-title">
          <a href="{{ post.url }}">{{ post.title }}</a>
        </h2>
        <div class="post-excerpt">
          {{ post.excerpt | strip_html | truncatewords: 30 }}
        </div>
      </li>
    {% endif %}
  {% endfor %}
</ul>
